<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
  <meta charset="UTF-8">
  <title>Editar o Produto</title>
</head>
<body>
  <div layout:fragment="conteudo">

    <h1 class="mt-3 mb-5">Formulário de Edição do Produto</h1>

    <form th:action="@{/produto/editar}" th:object="${produto}" method="post">

      <input th:field="*{id}" type="hidden">
      <input th:field="*{dataDeCadastro}" type="hidden">

      <div class="mb-3">
        <label class="form-label">Nome do Produto</label>
        <input class="form-control" type="text" th:field="*{nome}" id="nome" placeholder="Informe o nome do produto..."/>
        <p th:if="${#fields.hasErrors('nome')}" class="text text-danger" th:errors="*{nome}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Descrição do Produto</label>
        <input class="form-control" type="text" th:field="*{descricao}" id="descricao" placeholder="Informe uma descrição do produto..."/>
        <p th:if="${#fields.hasErrors('descricao')}" class="text text-danger" th:errors="*{descricao}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Preço do Produto</label>
        <input class="form-control" type="text" th:field="*{preco}" id="preco" placeholder="Informe o preço do produto..."/>
        <p th:if="${#fields.hasErrors('preco')}" class="text text-danger" th:errors="*{preco}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Data de Fabricação</label>
        <input class="form-control" type="text" th:field="*{dataDeFabricacao}" id="dataDeFabricacao" placeholder="Informe a data de fabricação do produto..."/>
        <p th:if="${#fields.hasErrors('dataDeFabricacao')}" class="text text-danger" th:errors="*{dataDeFabricacao}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Data de Validade</label>
        <input class="form-control" type="text" th:field="*{validade}" id="validade" placeholder="Informe a data de validade do produto..."/>
        <p th:if="${#fields.hasErrors('validade')}" class="text text-danger" th:errors="*{validade}"></p>
      </div>

      <br>

      <div class="mb-3">
        <label class="form-label">Quantidade em Estoque</label>
        <input class="form-control" type="number" th:field="*{quantidadeEmEstoque}" id="quantidadeEmEstoque" placeholder="Informe a quantidade em estoque do produto..."/>
        <p th:if="${#fields.hasErrors('quantidadeEmEstoque')}" class="text text-danger" th:errors="*{quantidadeEmEstoque}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Quantidade Mínima em Estoque</label>
        <input class="form-control" type="number" th:field="*{quantidadeMinimaParaEstoque}" id="quantidadeMinEstoque" placeholder="Informe a quantidade mínima para estoque do produto..."/>
        <p th:if="${#fields.hasErrors('quantidadeMinimaParaEstoque')}" class="text text-danger" th:errors="*{quantidadeMinimaParaEstoque}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Quantidade Máxima em Estoque</label>
        <input class="form-control" type="number" th:field="*{quantidadeMaximaParaEstoque}" id="quantidadeMaxEstoque" placeholder="Informe a quantidade máxima para estoque do produto..."/>
        <p th:if="${#fields.hasErrors('quantidadeMaximaParaEstoque')}" class="text text-danger" th:errors="*{quantidadeMaximaParaEstoque}"></p>
      </div>

      <button type="submit"
              class="btn btn-outline-primary">Editar</button>

      <a th:href="@{/produto}"
         class="btn btn-danger">Cancelar</a>

      <p th:text="${mensagem}"></p>

    </form>
  </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>