<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Seu estoque</title>
</head>
<body>

    <div layout:fragment="conteudo">

        <h1>Seu estoque</h1>

        <table class="table">

            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Data de Fabricação</th>
                <th>Data de Validade</th>
                <th>Quantidade em Estoque</th>
                <th>Quantidade Mínima</th>
                <th>Quantidade Máxima</th>
                <th></th>
            </tr>
            <tr th:each="prod:${produtos}">
                <td th:text="${prod.nome}"></td>
                <td th:text="${prod.preco}"></td>
                <td th:text="${#temporals.format(prod.dataDeFabricacao, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(prod.validade, 'dd/MM/yyyy')}"></td>
                <td th:text="${prod.quantidadeEmEstoque}"></td>
                <td th:text="${prod.quantidadeMinimaParaEstoque}"></td>
                <td th:text="${prod.quantidadeMaximaParaEstoque}"></td>
                <th>
                    <a th:href="@{/produto/editar/}+${prod.id}"
                       class="btn btn-primary">Editar</a>
                    <button th:onclick="|produtoId.value = ${prod.id}|" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Deletar
                    </button>
                </th>
            </tr>

        </table>
        <p th:text="${mensagem}"></p>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Atenção!!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja deletar esse produto?
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/produto/deletar}" method="post">
                            <input type="hidden" name="id" id="produtoId">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>